[submodule "src/github.com/Sirupsen/logrus"]
	path = src/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
